.postBody {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 70px auto 70px auto;
  width: 75%;
}
p {
  font-size: 20px;
  padding-bottom: 30px;
}
.postBody > a {
  margin-top: 30px;
  width: 100%;
}
.buttons {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.editing {
  overflow: visible;
}
.wrap img {
  display: block;
  margin: auto;
}
.errors {
  display: grid;
  grid-template-columns: 1fr;
}
