.postedBy {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.postedBy > p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.postedBy > a {
  text-decoration: none;
  color: #333333;
  font-family: "Lora", "Times New Roman", serif;
}
.main {
  display: grid;
  grid-template: 1fr / 1fr 50px 40px;
}
/* .main span {
  justify-self: end;
} */
.like span {
  font-weight: 100;
  padding: 0 2px;
}
.like,
.comment {
  width: 70px;
  display: grid;
  grid-template: 1fr / 20px 20px;
  justify-items: center;
  align-items: center;
}
.like div {
  padding-top: 4px;
  cursor: pointer;
}
.comment {
  cursor: pointer;
}
.picLink {
  color: #333333;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .main {
    /* grid-template: 1fr 1fr / 1fr; */
    padding-bottom: 10px;
  }
  .buttons {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
  }
  .postedBy {
    font-size: 14px;
    padding: 10px;
  }
  .postedBy > a {
    padding: 5px;
    width: auto;
    display: inline !important;
    font-size: 16px;
  }
}
