.auth {
  margin: 30px 200px;
}
h2 {
  text-align: center;
  padding: 50px;
}
.buttons {
  display: grid;
  grid-template: 1fr / 35% 35%;
  grid-gap: 30%;
  margin: 30px;
}
.auth input {
  text-align: left !important;
  border: 1px solid #ccc !important;
  width: 100% !important;
}
