.navBar {
  align-items: center;
  display: grid;
  grid-template: auto / auto 1fr 20px;
  padding-top: 10px;
}
a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .navBar {
    align-items: flex-start;
    grid-template: 1fr / auto auto 120px;
  }
}
