.comment {
  padding: 15px;
  display: grid;
  grid-template: 1fr / auto 1fr 60px;
  align-items: center;
}
.comment a {
  color: #333333;
  font-family: "Lora", "Times New Roman", serif;
  font-style: italic;
}
.remove {
  border: none;
  outline: none;
  background: none;
}
.remove:active {
  outline: none;
}
.buttons {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.main {
  max-width: 968px;
  margin: auto;
}
