.main {
  margin: auto;
  width: 75%;
}
.main > a {
  font-weight: 100;
  color: #333333;
}
.main a {
  display: inline-block;
}
.main a:hover,
.main a:focus,
.textWrapper:hover,
.textWrapper:focus {
  text-decoration: none;
  color: #0085a1;
}
h1 {
  margin: 10px 0;
}
.textWrapper {
  width: inherit;
  font-size: 20px;
  overflow: hidden;
  max-height: 350px;
  position: relative;
}
.textWrapper img {
  width: 100% !important;
}
.textWrapper img:hover {
  cursor: default;
}
@media screen and (max-width: 768px) {
  .textWrapper {
    padding: 0;
  }
  .textWrapper h1 {
    font-size: 30px !important;
  }
  .main > a {
    padding: 0;
  }
  .main {
    margin-top: 30px;
    width: 85%;
  }
}
