.main {
  margin: 0 200px 70px 200px;
}
.main > a {
  font-weight: 100;
  color: #333333;
}
.main a:hover,
.main a:focus {
  text-decoration: none;
  color: #0085a1;
}
h1 {
  margin: 10px 0;
}
p {
  font-size: 20px;
}
